
{block content}

<div class="container">
    <div class="content">
		<h2>{_ui.titlePages.eshopPage}</h2>	
		<h2>{_ui.titlePages.galleryPage}</h2>
		<h2>{_ui.title}</h2>
		<h2>{_ui.applesCount, 0}</h2>
		<h2>{_ui.applesCount, 1}</h2>
		<h2>{_ui.applesCount, 2}</h2>
		<h2>{_ui.applesCount, 3}</h2>
		<h2>{_ui.applesCount, 4}</h2>
		<h2>{_ui.applesCount, 5}</h2>
		<h2>{_ui.applesCount, 10}</h2>
	</div>
</div>


