/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html{
   position: relative;
   min-height: 100%;
}

body {
  padding-bottom: 0px;
  color: #5a5a5a;
  background-color: #f8f8f8;
   margin-bottom: 300px;
}

.include_content{
  background-color: #f8f8f8;
  margin-top: 60px;
}

.footer{
  margin-top: 30px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 250px;
}

.footer a{
  color: #56121B;
}

footer{
  margin-left: 10px;
  margin-right: 10px;
}

.dropdown-menu .active a{
  background-color: #D53F22;
}

.dropdown-menu .active a:hover{
  background-color: #D53F22;
}

.content-margin-top{
  margin-top: 50px;
  margin-left: 30px;
}

.content-margin-top-center{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* Prvky v galerii*/
.gallery-items{
  margin-left: 50px;
  margin-right: 50px;
}

.gallery-item{
  width: 350px;
}

.buttons-gallery-item{
  margin-top: 50px;
}

.button-gallery-image-cart{
  margin-left: 10px;
}

.button-gallery-info{
  text-align: right;
  float: right;
}

.button-gallery-cart{
  color: #fff;
  background-color: #56121B;
  border-color: #36060D;
}
   
 /* PAGES */

.box-page{
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border: 2px solid;
    border-radius: 10px;
    border-color: #eee;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.amalteia-button{
  width: 302px;
  height: 32px;
}

  /* Login page */
.login-page{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    background-color: #fff;
    border: 2px solid;
    border-radius: 10px;
    border-color: #eee;
    padding-left: 97px;
    padding-right: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.login-page label{
    display: inline-block;
}

  /* Reg page */
.reg-page{
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border: 2px solid;
    border-radius: 25px;
    border-color: #eee;
    padding-left: 97px;
    padding-right: 97px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.reg-page label{
    display: inline-block;
}

div.flash {
    color: black;
    background: #FFF9D7;
    border: 1px solid #E2C822;
    padding: 1em;
    margin-bottom: 10px;
}

div.flash.success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

div.flash.error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

a[href^="#error:"] {
    background: red;
    color: white;
}

form{
    margin-top: 30px;
}

form .required label {
    font-weight: bold;
}

form .error {
    color: #D00;
    font-weight: bold;
}

/* Info boxiky*/

.info-box {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.info-box-danger {
    border-left-color: #ce4844;
}

.info-box-warning {
    border-left-color: #aa6708;
}

.info-box-info {
    border-left-color: #1b809e;
}

/*Nastaveni pro formulare*/

.form-required {
    color: #f00;
    font-size: 15px;
}

.form-required-info {
    color: #f00;
    font-size: 35px;
}


.form-line{
    display: block;
    margin-bottom: 10px;
}

.form-line label{
    display: block;
    margin-bottom: 0px;
}

.form-line label span{

    height: 35px;
}

.form-line label p{
    margin-bottom: 0px;
}

.form-line input{
    width: 302px;
    height: 24px;
}

.form-line label input{
    width: 50px;
    height: 13px;
    margin-top: 28px;
}

.form-line select{
    width: 302px;
    height: 24px;
}

.form-line textarea{
    width: 100%;
}

.form-line .button{
    margin-top: 24px;
    width: 302px;
    height: 32px;
}

.form-line .checkbox 
{
    width: 25px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 20px;
    display: inline-block;
}

.form-line .radio 
{
    width: 25px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 20px;
    display: inline-block;
}


.button-row{
    margin-top: 100px;
    margin-left: 150px;

}

/*Login page*/
#frm-signInForm-remember{
    width: 25px;
    margin-bottom: 20px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.second_menu{
  margin-top: 25px; 
}

.navbar-default{
 background-color: white;
}

.navbar-right{
  margin-right: 10px;
}




/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.btn-gallery{
  margin-right: 30px;
}

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.marketing .company_contact {
  margin-top: 100px;
  margin-left: 50px;
}

.content {
  margin-top: 100px;
  margin-left: 50px;
}

.top_line{
  border: 0;
  border-top: 3px solid #D53F22;
  margin: 0px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.lead{
  font-size: 18px;
}

.btn-gold {
    margin-top: 30px;
    color: #6A0F3A;
    background-color: #EDEA8D;
    border-color: #D5B031;
}

.btn-gold:hover {
    margin-top: 30px;
    color: #6A0F3A;
    background-color: #D5B031;
    border-color: #6A0F3A;
}

.faqHeader{
  font-size: 25px;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 10px;
}

.eu-cookies {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    color: #ccc;
    background-color: #666;
    z-index: 1000;
}

.eu_cookies .text_area{
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    margin: 10px 20px;
    color: #ccc;
    max-width: 800px;
    text-align: left;
}

.eu_cookies .button_area{
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    margin: 0 10px;
}

.eu-cookies button {
    background: #666;
    color: white;
    border: none;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 3px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 0px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 0px;
  }
}


