parameters:

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


extensions:
    translation: Kdyby\Translation\DI\TranslationExtension
    reCaptcha: ReCaptchaControl\ReCaptchaExtension

reCaptcha:
    siteKey: '6LfzXAcUAAAAAFF0Hw44p8iEiGB47P1PT13jD2nZ'
    secretKey: '6LfzXAcUAAAAAFF6Z5P76_XxSQ0IocRdvS8SorLq'
    methodName: 'addReCaptcha' # optional

translation:
    whitelist: [cs, en]
    default: cs
    fallback: [cs_CZ, cs]
	

services:
    database: @Nette\Database\Connection
    router: App\RouterFactory::createRouter
    authorizator:
        class: Nette\Security\Permission
        setup:
            - addRole('guest')
            - addRole('user', 'guest')
            - addRole('vip','user')
            - addRole('partner','vip')
            - addRole('office','partner')
            - addRole('admin')
            - addResource('Gallery')
            - addResource('Page')
            - addResource('Profile')
            - addResource('Dashboard')
            - addResource('Message')
            - addResource('Setup')
            - addResource('Sign')
            - addResource('User')
            - addResource('Good')
            - addResource('Category')
            - addResource('Upload')
            - allow('guest', 'Gallery', 'default') 
            - allow('guest', 'Page', 'default') 
            - allow('guest', 'Good', 'default')
            - allow('guest', 'Good', 'detail')
            - allow('user', 'Message', 'default')
            - allow('user', 'Dashboard', 'default')
            - allow('user', 'Profile', 'default')
            - allow('user', 'Sign', 'out')
            - allow('guest', 'Sign', 'reg')
            - allow('office', 'User', 'default')
            - allow('office', 'User', 'add')
            - allow('office', 'User', 'edit')
            - allow('office', 'User', 'goEdit')
            - allow('office', 'User', 'reset')
            - allow('office', 'User', 'data')
            - allow('office', 'User', 'block')
            - allow('office', 'User', 'unblock')
            - allow('office', 'User', 'delete')
            - allow('office', 'Good', 'list')
            - allow('office', 'Good', 'edit')
            - allow('office', 'Good', 'delete')
            - allow('office', 'Good', 'goEdit')
            - allow('office', 'Category', 'default')
            - allow('office', 'Category', 'edit')
            - allow('office', 'Category', 'delete')
            - allow('office', 'Category', 'goEdit')
            - allow('office', 'Category', 'up')
            - allow('office', 'Category', 'down')
            - allow('office', 'Upload', 'add')
            - allow('admin') # admin muze vse
    authenticator: App\Model\Authenticator
    goods: App\Model\Goods
    categories: App\Model\Categories

database:
    dsn:        "mysql:host=wm127.wedos.net;dbname=d140658_portal"
    user:       w140658_portal
    password:   'fWbDK57S'
    options:    [PDO::MYSQL_ATTR_COMPRESS = true]
    debugger:   true        # panel v debugger baru
    explain:    true        # explain dotazů v debugger bar
    reflection: discovered  # nebo conventional nebo classname, výchozí je discovered
    autowired:  true
