
{block content}

<div id="content">


	<h2>{$msg|noescape}</h2>
	<h2>{_ui.title}</h2>
	<h2>{_ui.applesCount, 0}</h2>
	<h2>{_ui.applesCount, 1}</h2>
	<h2>{_ui.applesCount, 2}</h2>
	<h2>{_ui.applesCount, 3}</h2>
	<h2>{_ui.applesCount, 4}</h2>
	<h2>{_ui.applesCount, 5}</h2>
	<h2>{_ui.applesCount, 10}</h2>
	<h2>{_ui.helloName, [name => $name]}</h2>

	
	
</div>
