{block content}

<div class="container reg-page">
		<h2>{$Name}</h2>
        </br>
        
	    <hr>
		<div class="info-box info-box-info">
            <p> <strong>Formulář pro vkládání a editaci zboží</strong></p>
        </div>
		{control editGoodForm} 
</div>