<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Aktivace účtu</title>
    <style>
    </style>
</head>
<body>
    <p>Dobrý den,</p>
    <br/>
    <p>Aktivaci Vámi vytvořeného účtu na stránkách <a href="https://amalteia.cz">Amalteia</a>  provedete kliknutím <a href="https://shop.amalteia.cz/token/activate/{$token}">zde</a>.  </p>
    <br/>
    <p><b>Děkujeme za registraci!</b></p>
</body>
</html>