<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{_email.activateAccount.title}</title>
    <style>
    </style>
</head>
<body>
    <p>{_email.activateAccount.hello}</p>
    <br/>
    <p>{_email.activateAccount.mess1} <a href="https://amalteia.cz">Amalteia</a>  {_email.activateAccount.mess2} <a href="https://shop.amalteia.cz/{$lang}/token/activate/{$token}">{_email.activateAccount.mess3}</a>.  </p>
    <br/>
    <p><b>{_email.activateAccount.bye}</b></p>
</body>
</html>