activateAccount:
    title: "EN Aktivace účtu"
    hello: "EN Dobrý den,"
    mess1: "EN Aktivaci Vámi vytvořeného účtu na stránkách"
    mess2: "EN provedete kliknutím"
    mess3: "zEN de"
    bye: "EN Děkujeme za registraci!"