activateAccount:
    title: "Account activation on Amalteia.cz"
    hello: "Hello,"
    mess1: "for activation of your"
    mess2: "account  please click"
    mess3: "here"
    bye: "Thank you for registering!"