title: 'ěščřžýáíéĚŠČŘŽÝÁÍÉŮú'
applesCount: '{0} Zádné jablko|{1} Jedno jablíčko |{2,3,4} %count% jablíčka| [5, +Inf[Tam je %count% jablíček'
helloName:  "Ahoj %name%"

findString: "Co hledáte? např. ...."
findButton: "Hledat"
czLang: "Česky"
engLang: "Anglicky"
backTop: "Zpět nahoru"


cookiesInfo: "Tyto webové stránky používají k poskytování služeb a analýze návštěvnosti soubory cookie. Informace o tom, jak tyto webové stránky používáte, jsou sdíleny se společností Google. Používáním těchto webových stránek souhlasíte s použitím souborů cookie. "

cookiesAgree: " | Souhlasím"

cookiesNextInfo: " | Další informace"

titlePages:
  eshopPage: "Veřejná stránka eshopu"
  userDefaultPage: "Správa uživatelů"
  signInPage: "Přihlášení do systému"
  signRegPage: "Registrace do systému"
  userProfilePage: "Uživatelský profil"
  signDefaultPage: "Registrace dokončena"
  dashboardPage: "Dashboard"
  galleryPage: "Galerie"
  403Page: "Access Denied"
  403PageMessage: "You do not have permission to view this page. Please try contact the web site administrator if you believe you should be able to view this page."
  404Page: "Page Not Found"
  404PageMessage: "The page you requested could not be found. It is possible that the address is incorrect, or that the page no longer exists. Please use a search engine to find what you are looking for."
  405Page: "Method Not Allowed"
  405PageMessage: "The requested method is not allowed for the URL."
  410Page: "Page Not Found"
  410PageMessage: "The page you requested has been taken off the site. We apologize for the inconvenience."
  4xxPage: "Oops..."
  4xxPageMessage: "Your browser sent a request that this server could not understand or process."
  500Page: "Server Error"
  500PageMessage: "We're sorry! The server encountered an internal error and was unable to complete your request. Please try again later."


signMessage:
    logOutNoActivity: "Proběhlo odhlášení z důvodů neaktivity."
    accessDeniedPermi: "Přístup zamítnut. Nemáte dostatečné oprávnění."
    exceptionRandom: "Unable to generate secure token from OpenSSL."
    userIsBlocked: "Uživatel je blokován. Kontaktujte podporu."
    loginIncorect: "Neplatné jméno nebo heslo!"
    logOutOK: "Odhlášení proběhlo vpořádku."
    userCreated: "Uživatel %name%  byl vložen."
    partnerNoExist: "Neplatná identifikace partnera"
    duplicitEmail: "Email je již registrován pod jiným uživatelem."
    duplicitPartnerId: "Partner s tímto rodným číslem je již registrován."
    protectionMessage: "Vypršel časový limit, odešlete formulář znovu"
    reCaptchaMessage: "Please prove you're not a robot."
    registerButton: "Registrovat"
    personalId: "Rodné číslo"
    personalIdIncorect: "Nesprávný formát rodného čísla"
    userName: "Uživatelské jméno"
    userNameMsg: "Zadejte své uživatelské jméno"
    password: "Heslo"
    passwordMsg: "Zadejte své heslo"
    remeberLogin: "Zapamatovat přihlášení"
    loginButton: "Přihlásit"
    partnerId: "Partner ID"
    partnerIdMsg: "Zadejte číslo vašeho partnera"
    firstName: "Jméno"
    firstNameMsg: "Zadejte vaše jméno"
    lastName: "Příjmení"
    lastNameMsg: "Zadejte vaše příjmení"
    email: "E-mailová adresa"
    emailMsg: "Zadejte email"
    emailIncorect: "Email nemá správný formát"
    phone: "Telefon"
    birthDay: "Datum narození ve tvaru d.m.yy"
    birthDayIncorect: "Datum musí být ve tvaru d.m.yy"
    passMsg: "Heslo"
    passLenght: "Heslo musí mít alespoň %len% znaků"
    passPattern: "Musí obsahovat číslici"
    confirmPass: "Znovu heslo"
    confirmPassMsg: "Potvrzovací heslo musí být vyplněné !"
    passNoEqual: "Hesla se musí shodovat !"
    userID: "ID"
    role: "Role"
    state: "Stav"
    registered: "Registrován"
    lastLogin: "Poslední přihlášení"
    tokenType: "Typ tokenu"
    token: "Token"
    agreeTermsCon: "Souhlasim s obchodnimi podminkami"
    agreeTermsConMsg: "Je potřeba souhlasit s podmínkami"
    changeButton: "Uložit změny"
    changeSaved: "Změny uloženy"
    changeForm: "Změnový formulář"

tokenMessage:
    userNotFound: "Litujeme, akci nelze provést."
    typeIsIncorect: "Litujeme, tento typ akce nelze provést."
    userIsVerified: 'Váš účet byl aktivován pokračujte přihlášením <a href="https://shop.amalteia.cz/cs/sign/in"> zde</a>.'


menuItems:
    logIn: "Přihlásit"
    logOut: "Odhlásit"
    dashboard: "Dashboard"
    profile: "Profil"
    gallery: "Galerie"
    user: "Uživatelé"
    page: "Stránka"

footer:
    aboutUs: "O NÁS"
    aboutUsLink1: "Amalteia"
    aboutUsLink2: "Partnerství"
    aboutUsLink3: "Kontakt"
    order: "VAŠE OBJEDNÁVKY"
    orderLink1: "Stav"
    orderLink2: "Sledování"
    orderLink3: "Reklamace"
    orderLink4: "FAQ"
    purchase: "JAK NAKOUPIT"
    purchaseLink1: "Cena dopravy"
    purchaseLink2: "Platby"
    purchaseLink3: "Obchodní podmínky"
    purchaseLink4: "Odstoupení"
    purchaseLink5: "Služby"