title: "Shop page"
applesCount: '{0} No apple| There is one apple|There are %count% apples'
helloName: "Hello %name%"

findString: "What are you looking for?"
findButton: "Search"
czLang: "Czech"
engLang: "English"
backTop: "Back top"

cookiesInfo: "Tyto webové stránky používají k poskytování služeb a analýze návštěvnosti soubory cookie. Informace o tom, jak tyto webové stránky používáte, jsou sdíleny se společností Google. Používáním těchto webových stránek souhlasíte s použitím souborů cookie. "

cookiesAgree: " | I Agree"

cookiesNextInfo: " | Next information"

titlePages:
  eshopPage: "Eshop public page"
  userDefaultPage: "Users administration"
  signInPage: "Login to system"
  signRegPage: "Registration"
  userProfilePage: "Users profile"
  signDefaultPage: "Registration finished"
  dashboardPage: "Dashboard"
  galleryPage: "Galery"
  403Page: "Access Denied"
  403PageMessage: "You do not have permission to view this page. Please try contact the web site administrator if you believe you should be able to view this page."
  404Page: "Page Not Found"
  404PageMessage: "The page you requested could not be found. It is possible that the address is incorrect, or that the page no longer exists. Please use a search engine to find what you are looking for."
  405Page: "Method Not Allowed"
  405PageMessage: "The requested method is not allowed for the URL."
  410Page: "Page Not Found"
  410PageMessage: "The page you requested has been taken off the site. We apologize for the inconvenience."
  4xxPage: "Oops..."
  4xxPageMessage: "Your browser sent a request that this server could not understand or process."
  500Page: "Server Error"
  500PageMessage: "We're sorry! The server encountered an internal error and was unable to complete your request. Please try again later."


signMessage:
    logOutNoActivity: "You have been logout due to unactivity."
    accessDeniedPermi: "Access denied. You have not permission for this action."
    exceptionRandom: "Unable to generate secure token from OpenSSL."
    userIsBlocked: "User is blocked. Contact the support."
    loginIncorect: "Invalid username and/or password!"
    logOutOK: "Logout was sucesfully processed."
    userCreated: "User %name%  created."
    partnerNoExist: "This partner ID is invalid"
    duplicitEmail: "This email is registered under different user."
    duplicitPartnerId: "Partner with this personal identification number allready exist."
    protectionMessage: "Timeout reached, you need to resubmit the form."
    reCaptchaMessage: "Please prove you're not a robot."
    registerButton: "Register"
    personalId: "Personal identification number"
    personalIdIncorect: "Invalid personal identification number format"
    userName: "Login"
    userNameMsg: "Enter your login name"
    password: "Password"
    passwordMsg: "Enter your password"
    remeberLogin: "Remember me"
    loginButton: "LogIn"
    partnerId: "Partner ID"
    partnerIdMsg: "Enter ID of your partner"
    firstName: "First name"
    firstNameMsg: "Enter your first name"
    lastName: "Surname"
    lastNameMsg: "Enter your surname"
    email: "Email address"
    emailMsg: "Enter your email address"
    emailIncorect: "Email is in incorrect format"
    phone: "Phone number"
    birthDay: "Date of birth in the d.m.yy format"
    birthDayIncorect: "You need to fill your date of birth in the d.m.yy format"
    passMsg: "Password"
    passLenght: "Password need to contain at least %len% characters"
    passPattern: "Password need to contain at least one number"
    confirmPass: "Confirm your password"
    confirmPassMsg: "Password confirmation need to be filled out !"
    passNoEqual: "Password and password confirmation are not equal !"
    userID: "ID"
    role: "Role"
    state: "State"
    registered: "Registered"
    lastLogin: "Last login"
    tokenType: "Token type"
    token: "token"
    agreeTermsCon: "I Agree with terms and conditions"
    agreeTermsConMsg: "You need to agree with terms and conditions."
    changeButton: "Save change"
    changeSaved: "Change saved"
    changeForm: "Change form"
    newRegistration: "Vytvořit nový účet na Amalteia.cz"

tokenMessage:
    userNotFound: "Sorry, unable to perform action."
    typeIsIncorect: "Sorry, unable to perform action of this type."
    userIsVerified: 'Your account has been activated continue logging <a href="https://shop.amalteia.cz/en/sign/in"> here</a>.'


menuItems:
    logIn: "LogIn"
    logOut: "LogOut"
    dashboard: "Dashboard"
    profile: "Profile"
    gallery: "Gallery"
    user: "Users"
    page: "All about purchase"
    acountActivate: "Aktivace účtu"
   
footer:
    aboutUs: "ABOUT US"
    aboutUsLink1: "Amalteia"
    aboutUsLink2: "Klubové výhody"
    aboutUsLink3: "Kontakt"
    order: "VAŠE OBJEDNÁVKY"
    orderLink1: "Stav"
    orderLink2: "Sledování"
    orderLink3: "Reklamace"
    orderLink4: "FAQ"
    purchase: "JAK NAKOUPIT"
    purchaseLink1: "Cena dopravy"
    purchaseLink2: "Platby"
    purchaseLink3: "Obchodní podmínky"
    purchaseLink4: "Odstoupení"
    purchaseLink5: "Služby"
    purchaseLink6: "Benefity našich výrobků"