{block content}

<div class="container">
    <div class="content">
        <div class="login-page">
            <h2 >{_ui.titlePages.signInPage}</h2>
            {control signInForm}
        </div>
    </div>
</div>