{block content}

<div class="container">
    <div class="">
        <div class="login-page">
            <h2 >{_ui.titlePages.signInPage}</h2>
            {control signInForm}
            <div class="content-margin-top-center">
                <a class="btn btn-info amalteia-button" role="button" n:href="Sign:reg">{_ui.signMessage.newRegistration}</a>
            </div>
        </div>
    </div>
</div>