{block content}

<div class="container reg-page">
            <h2 >{_ui.titlePages.signRegPage}</h2>
            <div class="info-box info-box-danger">
            <p> <strong>Pole označené je nutné <span class="form-required-info"> * </span> vyplnit.</strong></p>
            </div>
            {control regForm}
</div>